<% provide :title, "HELP"%>
<h1>StaticPages#help</h1>
<p>
    Get help on the Ruby on Rails Tutorial at the
    <a href="http://www.railstutorial.org/help">RailsTutorial helppage</a>.
    To get help on this sample app, see the
    <%= link_to "home" do %>
    <em>Rubyon RailsTutorial</em> book.
    <% end %>
</p>
