<p style="color: green"><%= notice %></p>
<h1>Products</h1>
<button class="btn btn-success"><%= link_to "New product", new_product_path %></button>
<div id="products">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan=3></th>
      </tr>
      <tbody>
          <%= render partial: "product", collection: @products %>
          <%# <%= render (@products) || "No Products" %> 
      </tbody>
    </thead>
  </table>
</div>
